@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body,
html {
  height: 0;
}
body {
  background-color: #585858;

  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Mern logo  */
.mern-logo {
  height: 100px;
  max-width: 100%;
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: right;
  opacity: 0.8;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: none;
  background: inherit;
  text-decoration: none !important;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding: 50px;
  text-decoration: none !important;
}

.nav-links a:hover {
  background-color: inherit !important;
  text-transform: uppercase;
  color: #b1a4d0;
}

.nav-links li {
  list-style: none;
  border-radius: 30%;
}

.nav-links a {
  color: silver;
  letter-spacing: 2px;

  font-size: 19px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.burger {
  display: none;
  cursor: pointer;
  font-weight: bolder;
}

.burger div {
  height: 3px;
  color: #333333;
  background-color: #b1a4d0;
  width: 30px;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Intro  */
.content {
  display: flex;
  flex-direction: column;
  height: 92vh;

  justify-content: space-around;
}
.container-project {
  height: 92vh;
  margin-top: 10%;
  vertical-align: middle;
}

.container-aboutme {
  margin-top: 40vh;
}
.intro-name {
  margin-bottom: 0px;
  font-size: 60px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: #b1a4d0;
}

.coder-svg {
  /* width: 500px;
  height: auto;
  justify-content: right; */

  position: absolute;
  height: auto;
  width: 40%;
}
#projects {
  margin-top: 20px;
}
#projects:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
/* #intro:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
} */

#aboutme:before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 200px;
  visibility: hidden;
  pointer-events: none;
}

.intro-paragraph {
  margin-top: 0px;
  font-size: 18px;

  text-align: left;
  color: lavender;

  border-radius: 4px;

  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 33px;
  margin-bottom: 0px;
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #eb8596;
  font-size: 40px;
}

.phx-bg {
  /* background-color: white; */
  margin-top: 0px;

  opacity: 0.8;
  border-radius: 100%;
  /* box-shadow: 0px 2px 5px black; */
  z-index: -1;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #b1a4d0;
  text-align: center;

  font-size: 25px;
}

.project-description {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: white;
  margin: 30px;
  align-items: center;
}
.hint {
  font-size: 14px;
  margin-top: 0px;
  font-style: italic;
  color: lavender;
  font-family: "Poppins", sans-serif;
}

/* Project images */
.project-img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

/* Github link  */
.github {
  /* box-shadow: 0px 2px 3px rgb(75, 75, 75);
  border-radius: 100px; */
  font-size: 13px;
  color: rgba(80, 80, 240, 0.774);
  font-family: "Poppins", sans-serif;
}

.github:hover {
  box-shadow: 0px 1px 4px rgb(65, 65, 66);
  border-radius: 50px;
  background-color: darkblue;
  padding: 5px;
}

/* About me  */

#aboutme,
#contact,
#projects {
  font-size: 40px;
}
.aboutme-paragraph,
.contact-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: justify;
  color: lavender;
}

.div-aboutme {
  display: flex;
  flex-direction: row;
}

.soccer-svg-div {
  overflow: hidden;
}

.copyright {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 12px;
  color: silver;
}
.socialIcon {
  font-size: 2.5em;
  color: white;
  margin-right: 30px;
}
.myself {
  height: 350px;
  position: absolute;
  left: 1000px;
  width: 350px;
  overflow: hidden;
}

.aboutme-paragraph {
  /* box-shadow: 0px 2px 5px #333333; */

  /* margin-right: 30px; */
  margin-right: 400px;
  border-radius: 2px;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
  .myself {
    position: static;
  }
  .aboutme-paragraph {
    margin-right: 0px;
  }
}

@media screen and (max-width: 780px) {
  body,
  .html {
    overflow-x: hidden;
  }
  .project-background {
    margin: 0px;
    padding: 30px;
  }
  .wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .soccer-svg {
    height: auto;
    width: 100%;
    right: -140px;
  }
  .project-img {
    height: auto;
    width: 100%;
  }
  .mern-logo {
    height: 50px;
    max-width: 100%;
    opacity: 0.8;
  }

  .nav-links {
    z-index: 1;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
    height: 200px;
    top: 8vh;
    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    width: 100%;
    transition: transform 0.4s ease-in;
  }
  nav {
    background-color: none;
  }
  .nav-links a {
    font-size: 18px;

    font-weight: 500;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 10px;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .tittle-position {
    font-size: 35px;
    text-align: center;
  }

  .tittle-paragraph {
    font-size: 14px;
  }

  .intro-name {
    font-size: 50px;
  }

  .project-title {
    font-size: 20px;
  }
  .project-description {
    font-size: 14px;
    margin: 0px;
  }

  .div-aboutme {
    display: flex;
    flex-direction: column;
  }

  .coder-svg {
    position: static;
    height: auto;
    width: 100%;
    align-items: center;
  }

  .github {
    padding: 5px;
    font-size: 12px;

    font-weight: 550;
  }

  .section-title,
  #aboutme,
  #contact,
  #projects {
    font-size: 30px;
  }

  .aboutme-paragraph,
  .contact-paragraph {
    margin-bottom: 2px;
    font-size: 14px;
    margin-right: 0px;
  }

  /* .aboutme-paragraph p {
    align-content: center;
    padding: 10px;
  } */
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(10px);
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media screen and (max-width: 600px) {
  .intro-paragraph {
    font-weight: lighter;
    padding: 0px;
    font-size: 16px;

    line-height: 1.5em;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
