@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Aleo&display=swap");

body,
html {
  height: 0;
}
body {
  background-color: #585858;
  background-color: #414b56;

  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Mern logo  */
.mern-logo {
  height: 100px;
  max-width: 100%;
  display: block;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: right;
  opacity: 0.8;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 1px 5px rgb(70, 70, 70);
  background: ghostwhite;
  text-decoration: none !important;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding: 50px;
  text-decoration: none !important;
}

.nav-links a:hover {
  background-color: inherit !important;
  text-transform: uppercase;
  color: #b1a4d0;
}

.nav-links li {
  list-style: none;
  border-radius: 30%;
}

.nav-links a {
  color: silver;
  letter-spacing: 2px;

  font-size: 19px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.burger {
  display: none;
  cursor: pointer;
  font-weight: bolder;
}

.burger div {
  height: 3px;
  color: #333333;
  background-color: #b1a4d0;
  width: 30px;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Intro  */
.content {
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 90%;

  justify-content: space-around;
}
.container-project {
  margin-top: 10%;
  vertical-align: middle;
  width: 90%;
}

.container-aboutme {
  margin-top: 10vh;
  width: 90%;
}
.intro-name {
  margin-bottom: 0px;
  font-size: 60px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: #b1a4d0;
}

.coder-svg {
  /* width: 500px;
  height: auto;
  justify-content: right; */

  position: absolute;
  height: auto;
  width: 40%;
}
#projects {
  margin-top: 20px;
}
#projects:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
/* #intro:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
} */

#aboutme:before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 200px;
  visibility: hidden;
  pointer-events: none;
}

.intro-paragraph {
  margin-top: 10px;
  font-size: 25px;
  text-align: left;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  font-family: "Aleo";
  line-height: 33px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: wheat;
  font-size: 40px;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #b1a4d0;
  text-align: center;

  font-size: 25px;
}
#projects {
  text-align: center;
}
.project-description {
  font-family: "Aleo";
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  margin: 30px;
  align-items: center;
}
.hint {
  font-size: 16px;
  margin-top: -8px;
  font-style: italic;
  margin-bottom: 27px;
  color: whitesmoke;
  letter-spacing: 1px;
  font-family: "Aleo";
  text-align: center;
  border-radius: 10px;
  opacity: 0.5;
  padding: 10px;
  margin: 20px 30px;
}

/* Project images */
.project-img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

/* Github link  */
.github {
  font-size: 12px;
  color: rgb(236, 236, 227);
  font-family: "Aleo";
  box-shadow: 0px 1px 4px rgb(65, 65, 66);
  border-radius: 50px;
  padding: 5px;
  background-color: rgb(226, 30, 177);
}

.github:hover {
  box-shadow: 0px 1px 5px black;
  border-radius: 50px;
  background-color: rgb(226, 30, 177);
}

/* About me  */

#aboutme,
#contact,
#projects {
  font-size: 40px;
}
.aboutme-paragraph,
.contact-paragraph {
  font-family: "Aleo";
  font-size: 20px;
  letter-spacing: 1px;
  text-align: justify;
  color: white;
}

.div-aboutme {
  display: flex;
  flex-direction: row;
}

.soccer-svg-div {
  overflow: hidden;
}

.copyright {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 12px;
  color: silver;
}
.socialIcon {
  font-size: 2.5em;
  color: white;
  margin-right: 30px;
}
.myself {
  height: 350px;
  position: absolute;
  left: 1000px;
  width: 350px;
  overflow: hidden;
}

.aboutme-paragraph {
  /* box-shadow: 0px 2px 5px #333333; */

  /* margin-right: 30px; */
  /* margin-right: 400px; */
  border-radius: 2px;
  font-weight: 500;
  /* line-height: 28px; */
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
  .myself {
    position: static;
  }
  /* .aboutme-paragraph {
    margin-right: 0px;
  }
} */

  @media screen and (max-width: 780px) {
    body,
    .html {
      overflow-x: hidden;
    }
    .project-background {
      margin: 0px;
      padding: 30px;
    }
    .wrapper {
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
    }
    .soccer-svg {
      height: auto;
      width: 100%;
      right: -140px;
    }
    .project-img {
      height: auto;
      width: 100%;
    }
    .mern-logo {
      height: 50px;
      max-width: 100%;
      opacity: 0.8;
    }

    .nav-links {
      z-index: 1;
      justify-content: space-evenly;
      position: absolute;
      right: 0px;
      height: 90vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      background-color: ghostwhite;

      transform: translateX(100%);
      width: 100%;
      transition: transform 0.4s ease-in;
    }
    nav {
      background-color: none;
    }
    .nav-links a {
      font-size: 18px;

      font-weight: 500;
    }
    .nav-links li {
      opacity: 0;
    }
    .burger {
      display: block;
      margin-right: 10px;
    }
    .nav-active {
      transform: translateX(0%);
    }

    .tittle-position {
      font-size: 35px;
      text-align: center;
    }

    .tittle-paragraph {
      font-size: 14px;
    }

    .intro-name {
      font-size: 44px;
      text-align: center;
    }
    .project-title {
      font-size: 30px;
      margin-bottom: -11px;
    }
    .project-description {
      font-size: 15px;
      margin: 0px;
      margin-bottom: 21px;
    }

    .div-aboutme {
      display: flex;
      flex-direction: column;
    }

    .coder-svg {
      position: static;
      height: auto;
      width: 100%;
      align-items: center;
    }

    .github {
      padding: 5px;
      font-size: 12px;

      font-weight: 550;
    }

    .section-title,
    #projects {
      font-size: 35px;
    }

    .aboutme-paragraph,
    .contact-paragraph {
      margin-bottom: 2px;
      font-size: 16px;
      margin-right: 0px;
    }
    #aboutme,
    #contact {
      font-size: 35px;
      margin-bottom: -9px;
    }
    /* .aboutme-paragraph p {
    align-content: center;
    padding: 10px;
  } */
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(10px);
      }
    }
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
      opacity: 0;
    }

    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }

  @media screen and (max-width: 600px) {
    .section-title {
      text-align: center;
      margin-top: 20px;
    }

    .hint {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0px;
      padding: 0px;
    }
    .intro-paragraph {
      font-weight: lighter;
      padding: 0px;
      font-size: 16px;
      margin-top: 17px;
      text-align: center;
      line-height: 1.5em;
    }
    .aboutme-paragraph,
    .contact-paragraph {
      font-family: "Poppins", sans-serif;

      text-align: center;
      color: white;
    }
    .myself {
      height: auto;
      width: 50%;
      /* align-items: center; */
      /* text-align: center; */
      /* margin-right: 20px; */
      margin-left: 25%;
    }
    .container-aboutme {
      margin-top: none;
    }
    .socianIcon-div {
      text-align: center;
    }
    .coder-svg {
      width: 85%;
      align-items: center;
      margin-left: 5px;
      margin-top: 25px;
    }
  }

  @media only screen and (min-width: 993px) {
    .container {
      width: 90%;
    }
  }
}
