body {
  background-color: #fbfbff;
  /* background-color: #815970;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%); */

  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Mern logo  */
.mern-logo {
  height: 100px;
  max-width: 100%;
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: right;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  box-shadow: none;
  background-color: #fbfbff;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #e37da8;

  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  letter-spacing: 2px;
}

.burger {
  display: none;
  cursor: pointer;
  font-weight: bolder;
}

.burger div {
  height: 3px;
  color: #333333;
  background-color: #e37da8;
  width: 30px;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Intro  */
.content {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.intro-name {
  letter-spacing: 1px;
  font-family: "Krub", sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}

.tittle-position {
  margin-bottom: 0px;
  font-size: 60px;
  letter-spacing: 2px;
  font-family: "Krub", sans-serif;
  color: black;
  font-weight: bold;
}

.tittle-paragraph {
  text-align: center;
  font-family: "Russo One", sans-serif;
  color: #333333;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.intro-paragraph {
  margin-top: 0px;
  font-size: 16px;
  padding: 5px 30px;
  text-align: center;
  color: #333333;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0px;
  font-family: "Krub", sans-serif;
}

.section-title {
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  color: #333333;
  font-size: 40px;
}

.phx-bg {
  /* background-color: white; */
  margin-top: 0px;
  filter: drop-shadow(0px 3px 5px #ffa69e);

  opacity: 0.5;
  /* box-shadow: 0px 2px 5px black; */
  z-index: -1;
}
/* Projects   */
/* .project-background {
  display: flex;
  flex-direction: column;
} */
.project-title {
  font-family: "Russo One", sans-serif;
  font-weight: lighter;
  color: #333333;
  text-align: center;
  font-size: 26px;
  letter-spacing: 2px;
}

.project-description {
  font-family: "Krub", sans-serif;
  text-align: justify;
  font-size: 16px;
  letter-spacing: 1px;
  color: #333333;
}
.hint {
  font-size: 14px;
  font-style: italic;
  color: #333333;
  font-family: "Krub", sans-serif;
}

.project-background {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;

  padding: 20px;
  margin-top: 0;
  width: 100%;
}

/* Project images */
.project-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-left: 2px;
  flex: 1;
}

/* Github link  */
.github {
  padding: 10px;

  /* box-shadow: 0px 2px 3px rgb(75, 75, 75);
  border-radius: 100px; */
  font-size: 14px;
  font-weight: 600;

  color: #4d98c4;
  letter-spacing: 1px;
  font-family: "Krub", sans-serif;
}

.github:hover {
  box-shadow: 0px 1px 4px rgb(48, 47, 47);
  border-radius: 50px;
}

/* About me  */

#aboutme,
#contact {
  font-size: 40px;
}
.aboutme-paragraph,
.contact-paragraph {
  font-family: "Krub", sans-serif;
  font-size: 16px;
  text-align: justify;
  color: #333333;
  font-weight: 500;
}

/* .svg-soccer {
  z-index: -1;
  top: 0px;
  position: absolute;
} */

.div-aboutme {
  display: flex;
  flex-direction: row;
}

.soccer-svg-div {
  overflow: hidden;
}
.soccer-svg {
  z-index: -1;
  right: 80px;
  position: absolute;
  height: 40%;
  width: 40%;
}
.copyright {
  font-family: "Krub", sans-serif;
  text-align: center;
  font-size: 12px;
  color: #333333;
}
.aboutme-paragraph {
  /* box-shadow: 0px 2px 5px #333333; */

  /* margin-right: 30px; */
  margin-right: 300px;
  border-radius: 2px;
  font-weight: 500;
  line-height: 28px;
}

.cibelle {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 780px) {
  body,
  .html {
    overflow-x: hidden;
  }

  .wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .soccer-svg {
    height: auto;
    width: 100%;
    right: -140px;
  }
  .nav-links {
    z-index: 1;
    justify-content: space-evenly;

    position: absolute;
    right: 0px;
    height: 200px;
    top: 8vh;
    background-color: #fbfbff;
    display: flex;
    flex-direction: column;

    align-items: center;
    transform: translateX(100%);
    width: 100%;
    transition: transform 0.4s ease-in;
  }
  nav {
    background-color: #fbfbff;
  }
  .nav-links a {
    font-size: 14px;

    letter-spacing: 1px;
    font-weight: 500;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 10px;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .tittle-position {
    font-size: 35px;
    text-align: center;
  }

  .tittle-paragraph {
    font-size: 14px;
  }

  .intro-name {
    font-size: 18px;
  }
  /* .content {
    height: 100vh;
  } */
  .intro-paragraph {
    font-weight: lighter;
    padding: 0px;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5em;
  }
  .project-title {
    font-size: 20px;
  }
  .project-description {
    font-size: 14px;
  }

  .div-aboutme {
    display: flex;
    flex-direction: column;
  }

  .cibelle {
    max-width: 80%;
  }
  .phx-bg {
    max-width: 100%;
    height: auto;
  }

  .github {
    padding: 5px;
    font-size: 7px;
    font-weight: 550;
  }

  .section-title,
  #aboutme,
  #contact {
    font-size: 30px;
  }

  .aboutme-paragraph,
  .contact-paragraph {
    margin-bottom: 2px;
    font-size: 14px;
    margin-right: 0px;
  }

  .aboutme-paragraph p {
    align-content: center;
    padding: 10px;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(10px);
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
