/* Global Styles  */

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}
html {
  font-size: calc(1em + 1vw);
}
body {
  background-color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-size: 1.8em;
  font-size: 45px;
  font-weight: bold;
  color: rgba(3, 12, 41, 0.85);
}
h2 {
  font-size: 1.5em;
  font-size: 35px;

  color: rgba(3, 12, 41, 0.85);
}
h3 {
  font-size: 1.15em;
  font-size: 30px;

  color: rgba(3, 12, 41, 0.85);
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height:*/
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  background-color: #42c75f;
  background-color: #f7f7f7;
  border-right: 1px solid rgba(192, 192, 192, 0.486);

  padding-top: 20px;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* transition: ease-in-out 1s; */
}

#mySidenav {
  transition: ease-in-out 0.8s;
}
.hamburguer {
  display: none;
  font-size: 2rem;
  padding-left: 10px;
  color: tomato;
}

/* The navigation menu links */
.sidenav .navlink {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 28px;
  font-weight: lighter;
  color: #080808;
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 40vh;

  font-size: 1.5rem;
}
.contact-icons i {
  color: #e1e2e6;
}
.contact-icons i:hover {
  color: tomato;
}
.sidenav .is-open {
  display: block translateX(0);
  transform: translateX(0);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
}
.closebtn {
  text-decoration: none;
  font-size: 3rem;
  color: #bbbbbb;
  display: none;
}
/* When you mouse over the navigation links, change their color */
.sidenav .navlink:hover {
  background-color: #ff6347b4;
  color: #ffffff;
  transition: 0.5s;
}

.logo {
  position: absolute;
  top: 80px;
  width: 100%;
  text-align: center;
  padding: 6px 8px 6px 8px;
}

.logo-img {
  width: 60%;
}
/* Style page content */
.main {
  margin-left: 250px;
}

/* HomagePage Styles  */
.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage h3 {
  font-weight: lighter;
  max-width: 70%;
  line-height: 1.5em;
}

.homepage h1,
h3 {
  margin-bottom: 40px;
}
.homepage h1 {
  color: tomato;
}
#button {
  background: inherit;
  border: 4px #ff6347 solid;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* color: rgba(255, 255, 255, 0.75); */
  border-radius: 10px;
  width: 250px;
  font-size: 0.9em;
  letter-spacing: 1px;
  font-family: "Red Hat Display", sans-serif;
  padding: 8px;
  max-width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
}

#button:hover {
  background-color: #ff6347b4;
  transition: 0.5s;
  color: #ffffff;
}

/* Section Separator  */
.separator {
  margin-bottom: -1px;
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-bottom: 0px solid #9534f532;
}
.separator__svg {
  margin-bottom: -9px;
}

.separator2 {
  bottom: -5px;
  left: 0;
  position: relative;
  width: 100%;
}
/* Projects  */

.github {
  color: #faf3f7;
  font-size: 15px;
  text-decoration: none;
  background-color: tomato;
  padding: 5px;
  border-radius: 30px;
}

.github:hover {
  background-color: white;
  color: #ff6347b4;
  transition: 0.8s;
}

.projects {
  height: auto;
  transition: all 0.6s ease;
  background: #9534f532;
  background-color: #ff6347b4;
}

.projects-header h2 {
  padding: 20px 50px;
}
.project-description {
  padding: 0 50px;
  line-height: 1.5em;
}

.projects-img-div {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  margin-bottom: 20px;
  align-items: baseline;
  flex: 50%;
  text-align: center;
}

.project-item p {
  max-width: auto;
  text-align: center;
}

.projects-img {
  max-width: 60%;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: inset 0px 0px 38px 43px rgba(13, 6, 24, 0.226);
  padding: 10px;
}
.projects p {
  font-size: 18px;
  text-align: left;
}
.projects-header-paragraph {
  padding: 0 50px;
  line-height: 1.5em;
}
/* About  */
.contact {
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 50px; */
}

.contact-header span {
  color: tomato;
}

.contact-header p {
  font-size: 0.7em;
  margin-bottom: 30px;
}
.contact-paragraph {
  text-align: left;
  justify-content: center;
  line-height: 1.5em;
  display: flex;
  max-width: 80%;
  font-size: 25px;
  padding: 30px;
  box-shadow: 0px 4px 6px #706e6e8a;
  border: 8px tomato solid;
  border-radius: 10px;
}

.separator-second {
  transform: scaleY(-1);
  width: 100%;
  margin-top: -5px;
}

/* Contact Form  */

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container h2 {
  color: #222222;
  text-align: center;
}
.container h3,
p {
  text-align: center;
  font-weight: lighter;
  color: #222222;
  font-size: 20px;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  background-color: rgba(204, 204, 204, 0.178);
  margin-bottom: 16px;
  resize: vertical;
}

input:focus,
textarea:focus {
  outline: none;
}
label {
  font-size: 18px;
}

#submit {
  background-color: rgb(119, 206, 111);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  width: 50%;
  margin: auto;
  font-size: 18px;
}

#submit:hover {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.356);
  color: black;
}

.container {
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.342);
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}
/* .form-div {
  margin-top: -30;
} */

#error {
  font-size: 14px;
  text-align: center;
  color: gray;
}

/* Footer  */

.footer p {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: left;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  color: white !important;
  background-color: tomato;
}

.fa-heart {
  color: red;
}

@media screen and (max-width: 780px) {
  .homepage h3 {
    line-height: 1.3em;
  }

  .main {
    margin-left: 190px;
  }

  .homepage h1,
  h3 {
    margin-bottom: 20px;
  }
  .sidenav {
    width: 190px;
  }
  .sidenav .navlink {
    font-size: 20px;
  }
  .homepage h1 {
    font-size: 35px;
    text-align: center;
  }
  .homepage h3 {
    font-size: 22px;
    max-width: 80%;
  }

  .hamburguer {
    display: block;
  }

  .contact-paragraph {
    text-align: left;
    max-width: 90%;
    font-size: 18px;
    padding: 0 30px;
  }

  .contact-paragraph {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 575px) {
  .sidenav {
    display: none;
  }
  .separator {
    margin-bottom: 0px;
  }
  .sidenav .navlink {
    font-size: 20px;
  }
  .main {
    margin: auto;
  }
  .container {
    margin-top: 10px;
    width: 90%;
  }
  .container h3 {
    font-size: 16px;
    text-align: left;
  }
  .homepage h3 {
    line-height: 1.3em;
  }

  .homepage h1,
  h3 {
    margin-bottom: 20px;
  }

  .homepage h1 {
    font-size: 35px;
    text-align: center;
  }
  .homepage h3 {
    font-size: 22px;
    max-width: 80%;
  }
  .homepage {
    justify-content: start;
  }
  .hamburguer {
    display: block;
  }
  .project-description,
  .projects-header-paragraph {
    padding: 0 20px;
  }

  .contact-paragraph {
    padding: 10px 20px;
    text-align: left;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-paragraph p {
    font-size: 16px;
    text-align: left;
  }

  label {
    font-size: 16px;
  }
  .project-item {
    flex: 100%;
  }
  .contact {
    justify-content: center;
  }
}
